@import 'bootstrap/dist/css/bootstrap';
.navbar 
{
background-color: #FDF6EA !important;
}
.search-area
{
	
	padding-top: 50px
}
.no-right-padding
{
    padding-right: 0 !important;
}
.no-left-padding{
    padding-left: 0 !important;
}
h1
{
color: red;
}
.results-block
{
	display: inline-block;
}
.logout-button
{
	margin-right: 5px;
}
.user-name{
	margin-top: 3.5%;
	padding-right: 5px;
}